.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }

}

.homebg{

    background-image:url("https://qph.fs.quoracdn.net/main-qimg-28a95767f981ee4f3b854b7ae928253a");
    background-repeat: repeat;
}

.cardbg{
    background: black;
}

